{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<link rel="stylesheet" href="{% static 'jqueryui/jquery-ui.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilosejercicioaudi2-1.css' %}">
	<link rel="stylesheet" href="{% static 'css/Raleway.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
    <script type="text/javascript" src="{% static 'js/wordfind.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/wordfindgame.js' %}"></script> 
      <script src="{% static 'javascript/jquery.js' %}"></script>
  <script src="{% static 'javascript/menu.js' %}"></script>
  <script src="{% static 'javascript/tema.js' %}"></script>
  <script src="{% static 'jqueryui/jquery-ui.js' %}"></script>
	<script>
  		$( function() {
    	$( "input" ).checkboxradio();
  		} );
  </script>

</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-uno ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media\logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j1">
			  <div class="container">
			    <h1 class="display-4">Tema 1. Diseño algorítmico</h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 1</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 1.2: Representación de algoritmos: gráfica y pseudocódigo.</li>
						</ol>
					</nav>
					
					<article class="post clearfix">
					
          <!-- FORMULARIO DE PREGUNTAS  ------------------------------------------------------------------- -->
      <form id="form1" name="form1" method="post" action="/Evaluacion/E1/2/V/1/" class="formulario" onsubmit="alert('Tu puntuación es: '+{{resultado}})">{% csrf_token %}

          <div class="contenido">

          	{% if messages %}
          		<ul class="messages">
          			{% for message in messages %}
          			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          			{% endfor %}
          		</ul>
          	{% endif %}

			<h3>Ejercicio 1.</h3>
      <h3>Lee el texto y selecciona la respuesta correcta.</h3>

			<div class="widget">
				 <fieldset>
   				<legend>Selecciona la respuesta</legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   1------------------------------------------------------------------- -->
          <p> 1.- ¿Cuá es el lenguaje de especificación de algoritmos, cuyo uso de tal lenguaje hace el paso de codificación final relativamente fácil.?.</p>
          </div>

   				<!-- RESPUESTAS DE LA PREGUNTA   1 --------------------------------------------------- -->
    			<label for="radio-1"><b>A)</b> Programación</label>
    			<input type="radio" value="0" name="respuesta1" id="radio-1">
    			
    			<label for="radio-2"><b>B)</b> Pseudocódigo</label>
    			<input type="radio" value="20" name="respuesta1" id="radio-2">
    			
    			<label for="radio-3"><b>C)</b> Algoritmo</label>
    			<input type="radio" value="0" name="respuesta1" id="radio-3">
  				</fieldset>
			</div>

      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   2 ------------------------------------------------------------------- -->
           <p>2.-¿Cómo se le dice a la información que se le da al lector del programa y no realiza ninguna instrucción ejecutable?</p>
          </div>
          
          <!-- RESPUESTAS DE LA PREGUNTA   2 --------------------------------------------------- -->
          <label for="radio-4"><b>A)</b> Código</label>
          <input type="radio" value="0" name="respuesta2" id="radio-4">

          <label for="radio-5"><b>B)</b> Comentario</label>
          <input type="radio" value="20" name="respuesta2" id="radio-5">

          <label for="radio-6"><b>C)</b> Lenguaje</label>
          <input type="radio" value="0" name="respuesta2" id="radio-6">

          </fieldset>
      </div>

      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   3 ------------------------------------------------------------------- -->
          <p> 3.-¿Cuál es el diagrama que utiliza los simbolos estándar, unidos por flechas que indican la secuencia que se debe ejecutar?</p>
          </div>

          <!-- RESPUESTAS DE LA PREGUNTA   3 --------------------------------------------------- -->
          <label for="radio-7"><b>A)</b> Diagrama de flujo</label>
          <input type="radio" value="20" name="respuesta3" id="radio-7">
          
          <label for="radio-8"><b>B)</b> Pseudocódigo</label>
          <input type="radio" value="0" name="respuesta3" id="radio-8">
         
          <label for="radio-9"><b>C)</b> Código</label>
          <input type="radio" value="0" name="respuesta3" id="radio-9">
          </fieldset>
      </div>

      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   4 ------------------------------------------------------------------- -->
          <p>4.-¿Cuál es el diagrama en el que se omiten las flechas de unión y las cajas son continuas? </p>
          </div>
          <!-- RESPUESTAS DE LA PREGUNTA   4 --------------------------------------------------- -->
          <label for="radio-10"><b>A)</b> Pseudocódigo</label>
          <input type="radio" value="0" name="respuesta4" id="radio-10">
         
          <label for="radio-11"><b>B)</b> Diagrama de flujo</label>
          <input type="radio" value="0" name="respuesta4" id="radio-11">
          
          <label for="radio-12"><b>C)</b> Diagrama n-s</label>
          <input type="radio" value="20" name="respuesta4" id="radio-12">
          </fieldset>
      </div>

            <!-- PREGUNTA   5 ------------------------------------------------------------------- -->
            <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
          <p>5.-¿Cuál es el simbolo de la función del proceso? </p>
          </div>
          <!-- RESPUESTAS DE LA PREGUNTA   5 --------------------------------------------------- -->
          <label for="radio-13"><b>A)</b> Rectángulo</label>
          <input type="radio" value="20" name="respuesta5" id="radio-13">
          
          <label for="radio-14"><b>B)</b> Rombo</label>
          <input type="radio" value="0" name="respuesta5" id="radio-14">
          
          <label for="radio-15"><b>C)</b> Círculo</label>
          <input type="radio" value="0" name="respuesta5" id="radio-15">

          <!-- BOTON DE EVALUACION ------------------------------------------------------ -->
            <legend> ... </legend>
            <input type="submit" value="Calificar">

          </fieldset>
      </div>
		</div>
  </form>
  <script src="{% static 'js/E/V/2' %}" type="text/javascript">

</script>
					</article>

					<nav aria-label="Page">
							<ul class="pagination justify-content-center">
							    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
							    <li class="page-item active"><a class="page-link" href="/ejercicio/E1/2/V/1">1</a></li>
							    <li class="page-item"><a class="page-link" href="/ejercicio/E1/2/A/1">2</a></li>
							    <li class="page-item"><a class="page-link" href="/ejercicio/E1/2/K/1">3</a></li>
							    <li class="page-item"><a class="page-link" href="/ejercicio/E1/2/K/2">4</a></li>
							   
							    <li class="page-item"><a class="page-link" href="/ejercicio/E1/2/V/1"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
							</ul>
					</nav>
				
				<div class="ejercicios-btn">
            <a href="{% url 'r_temas' tema=1 subtema=2 pagina=3 %}" class="btn btn-primary">Regresar al tema</a>
          </div>
				<!--
					<div class="siguiente-btn">
						<a href="E1-1-V-2.html" class="btn btn-primary">Siguiente</a>
					</div>
					-->
				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>