{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Drag & drop</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/dragdrop1.css' %}">

 <script src="{% static 'js/dragdrop1.js' %}" type="text/javascript">
  //...
     
 </script>

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">  
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<!-- <link rel="stylesheet" href="jqueryui/jquery-ui.css">  -->
	<link rel="stylesheet" href="{% static 'css/EstilosF.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilosejercicio2-2-.css' %}">
	<link rel="stylesheet" href="{% static 'css/Raleway.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
	<!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
    <script type="text/javascript" src="{% static 'js/wordfind.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/wordfindgame.js' %}"></script> 
      <script src="{% static 'javascript/jquery.js' %}"></script>
  <script src="{% static 'javascript/menu.js' %}"></script>
	<!-- <script src="javascript/tema2.js"></script>  -->
	<script src="{% static 'jqueryui/jquery-ui.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-uno ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item ">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j1">
			  <div class="container">
			    <h1 class="display-4">Tema 1. Diseño algorítmico</h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 1</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 1.4: Diseño de funciones.</li>
						</ol>
					</nav>
					
					
					<article class="post clearfix">
						<div class="contenido" id="iten">
<br>
						<h3 align="center">Selecciona las respuestas correctas y arrastralas al espacio indicado.</h3>
      <br>

          <fieldset>
          <legend> Arrastra la respuestas corectas</legend>
          <center>
<table>
		<form id="form1" name="form1" method="post" action="" class="formulario" onsubmit="return validar()"> <!-- action="test.js" -->
  
  <tr>
  <td>
  <div id="cuadro2" class="columnc" ondragenter="return enter(event)" ondragover="return over(event)" ondragleave="return leave(event)" ondrop="return drop(event)">
        <p>    RESPUESTAS  </p>

        <div class="ui-widget-content" id="arrastrable1" name="1" value="20" draggable="true" ondragstart="start(event)" ondragend="end(event)" > <p><font size="4"> void delta() </font></p>
        
        
   </div>   
   <div class="ui-widget-content" id="arrastrable2" name="2" value="20" draggable="true" ondragstart="start(event)" ondragend="end(event)"> <p><font size="4"> int alfa() </font></p>
    
   </div>
   
   <div class="ui-widget-content" id="arrastrable3" name="3" value="20" draggable="true" ondragstart="start(event)" ondragend="end(event)"> <p><font size="4"> int sum(int a, int b) </font></p>
   </div>
   
   <div class="ui-widget-content" id="arrastrable4" name="4" value="20" draggable="true" ondragstart="start(event)" ondragend="end(event)">  <p><font size="4"> Trabaja </font></p>
    
   </div>
   
   <div class="ui-widget-content" id="arrastrable5"  name="5" value="20" draggable="true" ondragstart="start(event)" ondragend="end(event)">  <p><font size="4"> printf("");</font></p>
    
   </div>
   
   <div class="ui-widget-content" id="arrastrable6"  name="6" value="20" draggable="true" ondragstart="start(event)" ondragend="end(event)">  <p><font size="4"> string a; </font></p>
    
   </div>
     
   
  </div>
  
  <div id="cuadro3" class="column" ondragenter="return enter(event)" ondragover="return over(event)" ondragleave="return leave(event)" ondrop="return drop(event)">
   <p>    FUNCIONES     </p>
  </div>
  </td>
                </tr>
                
                <tr>
                 <td>
  				<input type="submit" value="Evaluar" onclick="validar();">
  				</td>
</tr>
  
    </form>
           </table>
           </center>
    		</fieldset>
<br><br><br><br>
    </div>
					</article>

					<nav aria-label="Page">
              <ul class="pagination justify-content-center">
                  <li class="page-item disabled"><a class="page-link" href="/ejercicio/E1/4/V/1"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
                  <li class="page-item"><a class="page-link" href="/ejercicio/E1/4/V/1">1</a></li>
                  <li class="page-item"><a class="page-link" href="/ejercicio/E1/4/A/1">2</a></li>
                  <li class="page-item"><a class="page-link" href="/ejercicio/E1/4/K/1">3</a></li>
                  <li class="page-item active"><a class="page-link" href="/ejercicio/E1/4/K/2">4</a></li>
                  <li class="page-item"><a class="page-link" href="/ejercicio/E1/4/K/1"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
              </ul>
          </nav>
					<div class="siguiente-btn">
            <a href="{% url 'r_temas' tema=1 subtema=4 pagina=2 %}" class="btn btn-primary">Regresar al tema</a>
          </div>
					
				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>