{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
	
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion({
      collapsible: true
    });
  } );
  </script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-uno ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j1">
			  <div class="container">
			    <h1 class="display-4">Tema 1. Diseño algorítmico. </h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 1</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 1.2: Representación de algoritmos: gráfica y pseudocódigo.</li>
						</ol>
					</nav>
					
					<article class="post clearfix article">
						
						<h2 class="post-title" align="center">
							<a href="#">EJEMPLOS</a>

						</h2>
						<h3 >Presiona la pregunta para visualizar la respuesta</h3>
						<div id="accordion">
						
						<p  class="post-contenido text-justify" style="color: #020ace; font-size: 150%" >
		1.- Escribir un Pseudocódigo de un programa que permita leer la edad y peso de una persona y posteriormente imprimirla.</p>
		
			<div>
  
    <p>
1. •Inicio<br><br>

2. •Variables edad, peso.<br><br>

3. •Imprimir "Escribir los datos (Edad, Peso):"<br><br>

4. •Leer Edad, Leer Peso.<br><br>

5. •Visualizar "Tu peso es: ", peso, " y tu edad es: ", edad.<br><br>

6. •Fin.<br><br>
    </p>
</div>
						<p  class="post-contenido text-justify " style="color: #020ace; font-size: 150%" >
							 2.- Escribir un Pseudocódigo que calcule el área de un triángulo recibiendo como entrada el valor de base y altura.
						</p>
						<div>
						
						
						<p class="post-contenido text-left">
 
1. •Inicio<br><br>
2. •Variables Altura, Base, Area.<br><br>
 
3. •Imprimir "Introduce la base y la altura: "<br><br>
4. •Leer base y altura.<br><br>

5. •Area= (base*altura)/2.<br><br>

6. •Imprimir "El area es: ", Area<br><br>

7. •Fin.<br><br>
						</p>
					
					</div>
						<p  class="post-contenido text-justify " style="color: #020ace; font-size: 150%" >
							3.- Escribir Pseudocódigo que calcule el área de un círculo.
						</p>
						<div>
							
						
						
						<p class="post-contenido text-left">
 
1. •Inicio<br><br>
2. •Constantes Pi= 3.1416<br><br>
3. •Variables Radio, area = real<br><br>
4. •Imprime "Introduce el radio: "<br><br>
5. •Leer radio.<br><br>
6. •area= radio*radio*Pi<br><br>
7. •Imprimir "El área del circulo es: ", area.<br><br>
8. •Fin.<br><br>
						</p>
					
					</div>
					</div>
					</article>
					
                    <div class="ejercicios-btn">
            <a href="{% url 'r_temas' tema=1 subtema=2 pagina=2 %}" class="btn btn-primary">Regresar al tema</a>
          </div>
					
					
				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>