{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
	<script src= "{% static 'js/jquery.js' %}" ></script>
	<script type="text/javascript">
		var fondos = ["{% static 'img/bg5.png' %}", "{% static 'img/bg4.png' %}","{% static 'img/bg6.png' %}","{% static 'img/bg5.png' %}"];
		var fondo_actual = 1;
		// aqui hacemos la rotación
		var CambiarFondo = function(){
		if (fondo_actual == fondos.length) {
		fondo_actual = 0;
		}
		var precargar =fondo_actual++;
		var precargar2 = precargar+2;
		// cambiamos el background del body
		document.body.style.backgroundImage = 'url('+ fondos[precargar]+ ')';
		// cargamos en el div no visible "#precarga" la imagen siguiente que se cargará en el body
		// para ya tenerla en la cache, comenzamos con la imagen 3, ya que la 1 y 2 las tenemos en el css
		document.getElementById('precarga').style.backgroundImage =  'url('+fondos[precargar2]+ ')';
		}
		//aqui definís el tiempo en milisegundos e  inicias la función con setInterval para que se repita indefinidamente
		window.setInterval(CambiarFondo, 7000); 
	</script>
	<title>Bienvenido a Software PNL</title>
</head>
<body>
	<div id="precarga"><!-- precarga de backgrounds --></div>
	<header>
	<h1>Log In</h1>
	</header>
	<div class="Login">
	<img src="{% static 'img/User.png' %}" alt="usuario :v"><br><br>

         
         {% if errors %}
         <ul>
            {% for error in errors %}
             <li>{{ error }}</li>
            {% endfor %}
         </ul>
         {% endif %}


	<form method="post" action="/login/">{% csrf_token %}
			<div class="form-input">
			<input type="text" name="usuario">
			</div>
			<div class="form-input">
			<input type="password" name="password">
			</div>
			<input type="submit" name="entrar" value="Enviar" class="b_login">
			<br>
			<a href="/Registro/"> Crear cuenta </a>
			<br>
			<br>
			<a href="#"> ¿Olvidaste tu contraseña?</a>
	</form>
	</div>
	<footer>
		<a href="about.html">Acerca de <i class="fa fa-question-circle" aria-hidden="true"></i></a>
	</footer>
</body>
</html>
