{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	   <title>Resultados</title>
	   <br><br>
       {% if Visual %}
         <p> El valor Visual es: {{Visual}} </p>
         <br>
         <p> El valor Auditivo es: {{Auditivo}} </p>
         <br>
         <p> El valor KInestesico es: {{Kinestesico}} </p>
       {% endif %}
</body>
</html>