{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
<script src="{% static 'js/Chart.js' %}" --> type="text/javascript"> </script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Chart.js</title>
</head>
<body>
<h1>Resultados</h1>

<br>

<br>
<h4>Gráfico de Rosquilla</h4>
<canvas id="myChart2"></canvas>
<br>
<script src="{% static 'js/Chart.js' %}"></script>
<script>


var ctx2 = document.getElementById('myChart2').getContext('2d');
var chart = new Chart(ctx2, {
    type: 'doughnut',
    data: 	
	{
				datasets: [{
					 data: [{{Visual}},{{Auditivo}}, {{Kinestesico}}],
					backgroundColor: ['#42a5f5', 'red', 'green','blue','violet'],
					label: 'Comparacion de navegadores'
				}],
				labels: [
					'Visual',
					'Auditivo',
					'Kinestesico'
				]},
    options: {}
});

function redireccionarPagina() {
  window.location = "{% url 'home'%}";
}
setTimeout("redireccionarPagina()", 30000);

</script>
</body>
</html>    