{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/signup.css' %}">
	<link rel="stylesheet" href="{% static 'css/Raleway.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<title>• Crear nueva cuenta •</title>
</head>
<body style="background: url("{% static 'img/Fondo1.png' %}")>

        {% if errors %}
         <ul>
            {% for error in errors %}
             <li>{{ error }}</li>
            {% endfor %}
         </ul>
         {% endif %}




	<form class="user_form" action="/Registro/"  method="post"> {% csrf_token %}
			<ul>
				<li class="info">
					<h3>Información General: </h3>
				</li>
				<li>
					<label for="nombre">Nombre: </label>
					<input type="text" required name="Nombre">
				</li>
				<li>
					<label for="AP">Apellido paterno: </label>
					<input type="text" required name="ApellidoP">
				</li>
				<li>
					<label for="AM">Apellido Materno: </label>
					<input type="text" required name="ApellidoM">
				</li>
				<li>
					<label for="edad">Fecha de nacimiento: </label>
					<input type="text" required name="Edad">
				</li>

				<li class="info">
					<h3>Información de la cuenta</h3>
				</li>
				<li>
					<label for="user">Nombre de usuario: </label>
					<input type="text" required name="Usuario">
				</li>
				<li>
					<label for="password">Contraseña: </label>
					<input type="password" required name="Password">
				</li>
				<li>
					<label for="password2">Confirmar contraseña: </label>
					<input type="password" required name="Password2">
				</li>
				<li>
					<label for="email">e-mail: </label>
					<input type="email" required autocomplete   name="Email">
				</li>
				<br><br>

				<input type="submit" name="crear" value="Crear cuenta" class="boton">
				<br>
				<input type="button" name="cancelar" value="Cancelar" class="boton">
				<br>
				<br><br>
				<a href="about.html"> Acerca de <i class="fa fa-question-circle" aria-hidden="true"></i></a>
				<br>
				<br>
				<a href="/login/">¿Ya tienes una cuenta? Ingresar</a>
			</ul>
	</form>


</body>
</html>
