{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>Temario</title>
		<link rel="stylesheet" href="{% static 'css/estilostemario.css' %}">
		<link rel="stylesheet" href="{% static 'css/font.css' %}">
		<link rel="stylesheet" href="{% static 'css/Raleway.css' %}">
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="#"><span class="primero"><i class="icon icon-book"></i></span>TEMA I:<br>"Diseño Algorítmico"</a>
					<ul>
						<li><a href="/tema/1/1/1">1.1 Conceptos básicos.</a></li>
						<li><a href="tema1.2.html">1.2 Representación de algoritmos: <br> gráfica y pseudocódigo.</a></li>						<li><a href="tema1.3.html">1.3 Diseño de algoritmos.</a></li>
						<li><a href="tema1.4.html">1.4 Diseño de funciones</a></li>
					</ul>
					</li>

					<li><a href="#"><span class="segundo"><i class="icon icon-graduation-cap"></i></span>TEMA II:<br>"Introducción a la Programación"</a>
					<ul>
						<li><a href="tema2.1.html">2.1 Conceptos básicos</a></li>
						<li><a href="tema2.2.html">2.2 Características del lenguaje de programación.</a></li>
						<li><a href="tema2.3.html">2.3 Estructura básica de un programa.</a></li>
						<li><a href="tema2.4.html">2.4 Elementos del lenguaje: tipos de datos, literales, <br> constantes, variables, identificadores, parámetros, <br> operadores y salida de datos.</a></li>
						<li><a href="#">2.5 Traducción de un programa: compilación,<br> enlace, ejecución y errores.</a></li>
					</ul>
					</li>

					<li><a href="#"><span class="tercero"><i class="icon icon-keyboard"></i></span>TEMA III:<br>"Control de flujo"</a>
					<ul>
						<li><a href="tema3.1.html">3.1 Estructuras secuenciales.</a></li>
						<li><a href="tema3.2.html">3.2 Estructuras selectivas: simple, doble y múltiple.</a></li>
						<li><a href="tema3.3.html">3.3 Estructuras iterativas: repetir mientras,<br> hasta, desde.</a></li>
					</ul>
					</li>
					<li><a href="#"><span class="cuarto"><i class="icon icon-tv"></i></span>TEMA IV:<br>"Organización de datos"</a>
					<ul>
						<li><a href="tema4.1.html">4.1 Arreglos</a></li>
						<li><a href="tema4.2.html">4.2 Unidimensionales: conceptos básicos,<br> operaciones y aplicaciones.</a></li>
						<li><a href="tema4.3.html">4.3 Multidimensionales: conceptos básicos,<br> operaciones y aplicaciones.</a></li>
						<li><a href="tema4.4.html">4.4 Estructuras o registros.</a></li>
					</ul>
					</li>

					<li><a href="#"><span class="quinto"><i class="icon icon-display"></i></span>TEMA V:<br>"Modularidad"</a>
					<ul>
						<li><a href="#">5.1 Declaración y uso de módulos.</a></li>
						<li><a href="#">5.2 Paso de parámetros o argumentos.</a></li>
						<li><a href="#">5.3 Implementación.</a></li>
					</ul>
					</li>
				</ul>

			</nav>
		</header>
	</body>
</html>