{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-uno">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j1">
			  <div class="container">
			    <h1 class="display-4">Tema 1. Diseño algorítmico</h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 1</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 1.1: Conceptos básicos</li>
						</ol>
					</nav>
					
					<article class="post clearfix article">
						<a href="#" class="thumb pull-left">
							<img src="" alt="">
						</a>
						<h2 class="post-title">
							<a href="#">Programación: </a>
						</h2>
						<p class="post-contenido text-justify">
							Los dos componentes principales de una computadora son: hardware y software. Hardware es el equipo físico o los dispositivos asociados con una computadora. Sin embargo, para ser útil una computadora necesita además del equipo físico, un conjunto de instrucciones dadas.<br><br>
El software de una computadora es un conjunto de instrucciones de programa detalladas que controlan y coordinan los componentes hardware de una computadora y controlan las operaciones de un sistema informático. <br><br>

Las operaciones que debe realizar el hardware son especificadas por una lista de instrucciones, llamadas programas, o software. Un programa de software es un conjunto de sentencias o instrucciones a la computadora. El proceso de escritura o codificación de un programa se denomina programación y las personas que se especializan en esta actividad se denominan programadores.<br><br>

El proceso de resolución de un problema con una computadora conduce a la escritura de un programa y a su ejecución en la misma. Aunque el proceso de diseñar programas es, esencialmente, un proceso creativo, se puede considerar una serie de fases o pasos comunes, que generalmente deben seguir todos los programadores.

						</p>
					</article>
					
					<iframe width="560" height="315" src="https://www.youtube.com/embed/-j4s2nphpV0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					<nav aria-label="Page">
							<ul class="pagination justify-content-center">
							    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
							    <li class="page-item active"><a class="page-link" href="#">1</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/1/1/2">2</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/1/1/3">3</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/1/1/2"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
							</ul>
					</nav>
					
					
				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>