{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-uno ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j1">
			  <div class="container">
			    <h1 class="display-4">Tema 1. Diseño algorítmico</h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 1</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 1.4: Diseño de funciones.</li>
						</ol>
					</nav>
					
					<article class="post clearfix article">
						<a href="#" class="thumb pull-left">
							<img src="" alt="">
						</a>
						<h2 class="post-title">
							<a href="#">Funciones: </a>
						</h2>
						<p class="post-contenido text-justify">
							Se considera que una función es una parte de código capaz de realizar una tarea y/o de transformar valores para obtener otro valor. <br>Una función se define por:<br>
•	El nombre. Este no debe ser ambigüo; según el lenguaje, el nombre debe ser único con respecto a las variables globales y a otras funciones. <br>
•	El tipo de valor que la función regresa.<br>
•	El número fi jo (o variable) de parámetros y la lista ordenada de tipo aceptable por los parámetros.<br>
•	El código. Este es único para cada función.<br>
Cercanas a la noción de función (o idénticas por el lenguaje C), se encuentran las nociones de procedimiento, rutina o subrutina, las cuales significan una parte del programa encargada de realizar una tarea sin regresar expresamente un valor. Los valores calculados o transformados por el código se regresan en la lista de los parámetros. <br><br>

La llamada de la función se hace especificando: <br>
•	El nombre de la función. <br>
•	La lista de los parámetros reales, los cuales pueden ser expresiones que se evalúan o variables.

						</p>
					</article>
					
					<iframe width="560" height="315" src="https://www.youtube.com/embed/lnKhMXx_4hk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					<nav aria-label="Page">
							<ul class="pagination justify-content-center">
							    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
							    <li class="page-item active"><a class="page-link" href="/tema/1/4/1">1</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/1/4/2">2</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/1/4/2"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
							</ul>
					</nav>
					

					<div class="siguiente-btn">
						<a href="/tema/1/3/2" class="btn btn-primary">Tema anterior</a>
					</div>

				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="http://combomix.net/wp-content/uploads/2017/03/Fundamentos-de-programaci%C3%B3n-4ta-Edici%C3%B3n-Luis-Joyanes-Aguilar-2.pdf" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>