{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-dos ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item ">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j2">
			  <div class="container">
			    <h1 class="display-4">Tema 2. Introducción a la programación.</h1>
			    <p class="lead"> </p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 2</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 2.1: Conceptos Básicos</li>
						</ol>
					</nav>
					
					<article class="post clearfix">


						<p class="post-contenido text-justify">
						Cada lenguaje de programación tiene un conjunto o “juego” de instrucciones
						(acciones u operaciones que debe realizar la máquina) que la computadora podrá
						entender directamente en su código máquina o bien se traducirán a dicho código
						máquina. Las instrucciones básicas y comunes en casi todos los lenguajes de
						programación son:

						<br>• Instrucciones de entrada/salida. Instrucciones de transferencia de información
							entre dispositivos periféricos y la memoria central, tales como "leer de..." o bien "escribir en.…".
						<br>• Instrucciones de cálculo. Instrucciones para que la computadora pueda realizar
							operaciones aritméticas.
						<br>• Instrucciones de control. Instrucciones que modifican la secuencia de la
						ejecución del programa. Además de estas instrucciones y dependiendo del
						procesador y del lenguaje de programación existirán otras que conformarán el
						conjunto de instrucciones y junto con las reglas de sintaxis permitirán escribir los
						programas de las computadoras. Los principales tipos de lenguajes de
						programación son:
						<br>• Lenguajes máquina.
						<br>• Lenguajes de bajo nivel (ensambladores).
						<br>• Lenguajes de alto nivel.
						</p>

						<p class="post-contenido text-justify">
						<b>Traductores de lenguaje</b><br>
						Los traductores de lenguaje son programas que
						traducen a su vez los programas fuente escritos en lenguajes de alto nivel a
						código máquina. Los traductores se dividen en compiladores e intérpretes.
						<br><b>Intérpretes</b><br> 
						Un intérprete es un traductor que toma un programa fuente, lo traduce
						y, a continuación, lo ejecuta. Los programas intérpretes clásicos como BASIC,
						prácticamente ya no se utilizan, más que en circunstancias especiales. Sin
						embargo, está muy extendida la versión interpretada del lenguaje Smalltalk, un
						lenguaje orientado a objetos puro.
						<img src="{% static 'media/tn2.1.2.jpg' %}" class="d-inline-block align-top" alt="">
						
						</p>
						<p class="post-contenido text-justify">
						<b>Compiladores </b><br> 
						Un compilador es un programa que traduce los programas fuente
						escritos en lenguaje de alto nivel a lenguaje máquina.
						<br>El programa compilado y depurado (eliminados los errores del código fuente) se
						denomina programa ejecutable porque ya se puede ejecutar directamente y
						cuantas veces se desee; sólo deberá volver a compilarse de nuevo en el caso de
						que se modifique alguna instrucción del programa. Los traductores de
						lenguajes típicos más utilizados son: C, C++, Java, C#, Pascal, FORTRAN y
						COBOL.
						<br><b>La compilación y sus fases </b><br>La compilación es el proceso de traducción de programas fuente a programas objeto. El programa objeto obtenido de la
						compilación ha sido traducido normalmente a código máquina. Para conseguir el
						programa máquina real se debe utilizar un programa llamado montador o enlazador (linker). El proceso de montaje conduce a un programa en lenguaje
						máquina directamente ejecutable.

						</p>
							
					</article>


					<nav aria-label="Page">
							<ul class="pagination justify-content-center">
							    <li class="page-item"><a class="page-link" href="/tema/2/1/2"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/1/1">1</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/1/2">2</a></li>
							    <li class="page-item active"><a class="page-link" href="/tema/2/1/3">3</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/1/4">4</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/1/4"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
							</ul>
					</nav>

				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>