{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-dos">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid js">
			  <div class="container">
			    <h1 class="display-4">Tema 2. Introducción a la programación.</h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 2</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 2.5: Traducción de un programa: compilación, enlace, ejecución y errores.</li>
						</ol>
					</nav>
					
					<article class="post clearfix">
					<P class="post-contenido text-justify"> <b>Etapas del Proceso de Compilación</b><br>El proceso de traducción se compone internamente de varias etapas o fases, que realizan distintas operaciones lógicas. Es útil pensar en estas fases como en piezas separadas dentro del traductor, y pueden en realidad escribirse como operaciones codificadas separadamente, aunque en la práctica a menudo se integren juntas.
					</P>

					<p class="post-contenido text-justify"></p>
					
					<p></p>
					<p class="post-contenido text-justify"><b>ANALISIS LEXICO</b><br>
						<b>Partes de un compilador</b><br>
						El analizador léxico opera bajo petición del analizador sintáctico con el fin de que este pueda avanzar en la gramática. Tiene como propósito agrupar las expresiones en fichas.</p>

						<p class="post-contenido text-justify"><b> FUNCIONES ANALISIS LEXICO</b> 
							<li>Eliminación de espacios en blanco</li>
							<li>Reconocimiento de identificadores y palabras clave</li>
							<li>Reconocimiento de constantes</li>
							<li>Mejorar la portabilidad del compilador</li>
						</p>

						<p class="post-contenido text-justify"><b>ANALISIS SINTACTICO</b><br>Esta fase se puede practicar, siempre y cuando la anterior haya sido realizada correctamente, en este analizador se agrupan los componentes para construir frases, verifica que el lenguaje fuente cumpla con las especificaciones que necesita el compilador donde se va a ejecutar. Es la fase más importante en el proceso de compilación.<br>
						
						<b>GENERACION CODIGO INTERMEDIO</b><br>
						Los compiladores deben analizar y generar secuencias de instrucciones iguales a un programa fuente con el fin de aprovechar mucho más la memoria del equipo, en esta etapa se genera un código con el fin de que este sea optimizando en la siguiente etapa. <br>

						<b>OPTIMIZACION DE CODIGO</b><br>
						 Con esta fase se mejora el código fuente con el fin de mejorar en la velocidad de ejecución y se aprovechen al máximo los recursos de la máquina, una vez se ha optimizado el código queda listo para ser entendible por la máquina. <br>

						 <b>PROCESO</b><br>
						 Lo primero que el compilador de C hace es pasar nuestro programa por el preprocesador. El preprocesador se encarga de interpretar cada una de las directivas que aparecen en el programa y de expandir las macros. Respecto a las directivas, son todos a aquellas líneas que comienzan con un símbolo #. Hay un conjunto de directivas que son parte del estándar ANSI se comentan en el apéndice.
						
						</p>

					</article>

					<nav aria-label="Page">
							<ul class="pagination justify-content-center">
							    <li class="page-item"><a class="page-link" href="/tema/2/5/1"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/5/1">1</a></li>
							    <li class="page-item active"><a class="page-link" href="/tema/2/5/2">2</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/5/3">3</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/5/4">4</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/5/3"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
							</ul>
					</nav>

				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>