{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-cuatro ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="Temario.html">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j4">
			  <div class="container">
			    <h1 class="display-4">Tema 4. Organización de datos.</h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 4</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 4.4: Estructuras o registros.</li>
						</ol>
					</nav>
					
					<article class="post clearfix article">
						<!-- <a href="#" class="thumb pull-left">
							<img src="" alt="">
						</a>  -->
						
						<p class="post-contenido text-justify">
							Una estructura es un conjunto de datos que no son necesariamente del mismo tipo. No hay limitaciones en el tipo ni cantidad de variables que pueda contener una estructura, la única limitación es que una estructura no puede contenerse a sí misma como miembro. <br>

							Una estructura se declara con la palabra reservada struct y se declara utilizando los mismos pasos necesarios para utilizar cualquier variable. Primero, se debe declarar el registro y a continuación se asignan valores a los miembros o elementos individuales del registro o estructura. <br>

					<img src="{% static 'media/4-4-1.png' %}" width="500" height="250" class="d-inline-block align-top" alt=""><br>


							<h4 class="post-title">
							<a href="#">Estructuras de datos homogéneas y heterogéneas</a>
							</h4>
							Los registros (estructuras) y los arrays son tipos de datos estructurados. La diferencia entre estos dos tipos de estructuras de datos son los tipos de elementos que ellos contienen. <br>

							
							<ul>
							<li> Un array es una estructura de datos homogénea, que significa que cada uno de sus componentes deben ser del mismo tipo.</li>
							<li> Un registro es una estructura de datos heterogénea, que significa que cada uno de sus componentes pueden ser de tipos de datos diferentes</li>
							<li> <i>Borrar</i> elementos</li>
							</ul>

							Por consiguiente, un array de registros es una estructura de datos cuyos elementos son de los mismos tipos heterogéneos.

							
						</p>
						<div class="siguiente-btn">
						<a href="C:\Users\lucila\Desktop\valortotal\templates\Unidades\Ejercicios\EJ1-3-V-1.html" class="btn btn-primary">Ejemplo</a>
					</div>
					</article>
					<!--
					<nav aria-label="Page">
							<ul class="pagination justify-content-center">
							    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
							    <li class="page-item"><a class="page-link" href="4-1-1.html">1</a></li>
							    <li class="page-item active"><a class="page-link" href="4-1-2.html">2</a></li>
							    <li class="page-item"><a class="page-link" href="4-1-2.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
							</ul>
					</nav> -->
					
					
					
					<div class="ejercicios-btn">
						<a href="/tema/4/3/1/" class="btn btn-primary">Tema anterior</a>
					</div>

					<div class="siguiente-btn">
						<a href='/../' class="btn btn-primary">Finalizar</a>
					</div>
				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>