{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-cuatro ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j4">
			  <div class="container">
			    <h1 class="display-4">Tema 5. Modularidad.</h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 5</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 5.1: Declaración y uso de módulos.</li>
						</ol>
					</nav>
					
					<article class="post clearfix article">
						
						<p class="post-contenido text-justify">

							
							<h4 class="post-title">
							<a href="#">Variables globales, locales y parámetros.</a>
							</h4>
							Las variables globales son aquellas que se definen o declaran fuera del módulo principal y tienen efecto en todos los módulos. Esto es, una variable global puede ser modificada en cualquier módulo incluido el principal.
							<br>

							Las variables locales son las que se definen dentro de un módulo, y son distintas a las que se definen en otros módulos, a pesar de que pueden tener el mismo nombre. El contexto de estas variables es el módulo donde se declaran, fuera de éstos no son reconocidas o válidas.

							Los parámetros son un mecanismo de comunicación o intercambio de información entre los módulos, inclusive el módulo principal. Se relacionan de acuerdo a su posición y el tipo de dato asociado.

							Existen dos tipos de parámetros:

							<ul>
								<li><b>Por valor:</b> Son constantes; el valor en sí mismo de los datos que se envían como argumentos en la invocación o llamada al módulo, la cual se realiza, escribiendo únicamente el dato del módulo y sus parámetros en el caso de que tengan.</li><br>

								<img src="{% static 'media/pasoporvalor.png' %}"><br><br>
								
								<li><b>Por referencia:</b> Son variables; es copia de la referencia o localidad de memoria donde se encuentran los datos que se envían como argumentos en la invocación.</li><br>

								<img src="{% static 'media/pasoporreferencia.png' %}"><br>
							</ul>



						</p>
						
					</article>
					
					<nav aria-label="Page">
						<ul class="pagination justify-content-center">
						    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
						    <li class="page-item"><a class="page-link" href="/tema/5/1/1">1</a></li>
						    <li class="page-item"><a class="page-link" href="/tema/5/1/2">2</a></li>
						    <li class="page-item"><a class="page-link" href="/tema/5/1/3">3</a></li>
						    <li class="page-item active"><a class="page-link" href="/tema/5/1/4">4</a></li>
						    <li class="page-item"><a class="page-link" href="/tema/5/1/4"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
						</ul>
					</nav>
					
					<!--
					<div class="ejercicios-btn">
						<a href="C:\Users\lucila\Desktop\valortotal\templates\Unidades\Ejercicios\E1-3-V-1.html" class="btn btn-primary">Ejercicios</a>
					</div> -->

					<div class="siguiente-btn">
						<a href="/tema/5/2/1" class="btn btn-primary">Siguiente tema</a>
					</div>
				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>