{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-cuatro ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j4">
			  <div class="container">
			    <h1 class="display-4">Tema 5. Modularidad.</h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 5</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 5.3: Implementación.</li>
						</ol>
					</nav>
					
					<article class="post clearfix article">
						
						<p class="post-contenido text-justify">
							Uno de los factores que más contribuyen a diseñar programas bien estructurados es un flujo de control ordenado que implica los siguientes pasos:<br>
							
							<ol>
								<li>El flujo general de un programa es adelante o directo.</li>
								<li>La entrada a un módulo sólo se hace al principio y se sale sólo al final.</li>
								<li>La condición para la terminación de bucles ha de ser clara y uniforme.</li>
								<li>Los casos alternativos de sentencias condicionales han de ser claros y uniformes.</li>
							</ol>

							<h4 class="post-title">
								<a>Uso adecuado de funciones</a>
							</h4>

							En el caso de una función, ésta se debe utilizar siempre que se necesite obtener un único valor. Este uso corresponde a la noción matemática de función. Por consiguiente, es muy extraño que una función realice una tarea diferente de devolver un valor y no debe hacerlo. <br>
							Una función no debe hacer nada sino devolver el valor requerido. Es decir, una función nunca tiene un <i> efecto lateral.</i><br>

							¿Qué funciones tienen potencial para efectos laterales?

							<ul>
								<li>
									<b>Funciones con variables globales.</b> 
									Si una función referencia a una variable global, presenta el peligro de un posible efecto lateral.<u> <em> En general, las funciones no deben asignar valores a variables globales.</em><
								</li>
								<li>
									<b>Funciones con parámetros variables. </b>
									Un parámetro variable es aquel en que su valor cambiará dentro de la función. Este efecto es un efecto lateral. <u><em> En general, las funciones no deben utilizar parámetros variables. </em></u> Si se necesitan parámetros variables utilizar procedimientos.
								</li>
							</ul>

						</p>
						
					</article>
					
					<nav aria-label="Page">
							<ul class="pagination justify-content-center">
							    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
							    <li class="page-item"><a class="page-link" href="/tema/5/3/1">1</a></li>
							    <li class="page-item active"><a class="page-link" href="/tema/5/3/2">2</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/5/3/2"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
							</ul>
					</nav>
					
					<!--
					<div class="ejercicios-btn">
						<a href="C:\Users\lucila\Desktop\valortotal\templates\Unidades\Ejercicios\E1-3-V-1.html" class="btn btn-primary">Ejercicios</a>
					</div> -->

					<div class="siguiente-btn">
						<a href='/../' class="btn btn-primary">Finalizar</a>
					</div>
				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>