{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-cuatro ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j4">
			  <div class="container">
			    <h1 class="display-4">Tema 5. Modularidad. </h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 5</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 5.3: Implementación. </li>
						</ol>
					</nav>
					
					<article class="post clearfix article">
						
						
						<p class="post-contenido text-justify">
							
						Un programa grande que resuelva un problema complejo siempre ha de dividirse en módulos para ser más manejable. Aunque la división no garantiza un sistema bien organizado será preciso encontrar reglas que permitan conseguir esa buena organización. <br><br>

						<h4 class="post-title">
							<a>Usar nombres significativos para identificadores.</a>
						</h4>

						Los identificadores que representan los nombres de módulos, subprogramas, funciones, tipos, variables y otros elementos, deben ser elegidos apropiadamente para conseguir programas legibles.<br>
						Deben utilizar letras mayúsculas y minúsculas. Cuando un identificador consta de dos o más palabras, cada palabra debe comenzar con una letra mayúscula. Una excepción son los tipos de datos definidos por el usuario, que suelen comenzar con una letra minúscula. <br><br>

						Así identificadores idóneos son:<br>

						<ul>
							<li><i>SalarioMes</i></li>
							<li><i>Nombre</i></li>
							<li><i>MensajeUsuario</i></li>
							<li><i>MensajesDatosMal</i></li>
						</ul> <br>

						Algunas reglas que se pueden seguir son:<br>

						<ul>
							<li>
								Usar nombres para nombrar objetos de datos, tales como variables, constantes y tipos. Utilizar <i>Salario </i>mejor que <i>APagar</i> o <i>Pagar</i>
							</li>
							<li>
								Utilizar verbos para nombrar procedimientos.<i> LeerCaracter, LeerSigCar, CalcularSigMov </i> son procedimientos que realizan estas acciones mejor que <i> SigCar </i> o <i> SigMov </i> (siguiente movimiento).
							</li>
							<li>
								Utilizar formas del verbo “ser” o “estar” para funciones lógicas. <i> SonIguales, EsCero, EsListo </i> y <i> EsVacio </i> se utilizan como variables o funciones lógicas.
							</li>
						</ul> <br>

						</p>
					</article>
					<div class="video">
				<video src="{% static 'media/Tema 1.3 Diseño de algoritmos.mp4' %}" controls width="550" height="360"></video>
			</div>

					<nav aria-label="Page">
							<ul class="pagination justify-content-center">
							    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
							    <li class="page-item active"><a class="page-link" href="/tema/5/3/1">1</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/5/3/2">2</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/5/3/2"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
							</ul>
					</nav>
					
					<div class="siguiente-btn">
						<a href="/tema/5/2/2" class="btn btn-primary">Tema anterior</a>
					</div>

				</section>
				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>