*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Asap', sans-serif;
	background-image: url(bg5.png);
	background-size: 100% 100%;
	background-attachment: fixed;
	margin: 0 auto;
	background-repeat: no-repeat;
}

div#precarga
{
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
	background-image: url('bg4.png');
}

header
{
	text-align: center;
	background: rgba(102, 102, 255,.3);
}

h1
{
	color: rgba(255, 117, 26,.5);
}

.Login
{
	-webkit-border-radius: 10px;
	width: 500px;
	height: 400px;
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	background-color: rgba(22, 160, 133,.6);
	margin-bottom: 20px;
	border: none;
	margin-top: 70px;
}


.Login img
{
	display: block;
	position:relative;
	width: 150px;
	height: 150px;
	margin-top: -90px;
	margin-bottom: 10px;
	left: 38%;
	right: 38%;
}

input[type="text"],input[type="password"]
{
	height: 40px;
	width: 300px;
	font-size: 16px;
	margin-bottom: 20px;
	padding-left: 30px;
}

.form-input::before
{
	content: "\f007";
	position: absolute;
	font-family: 'FontAwesome';
	padding-left: 5px;
	color: rgba(53, 227, 193,.6);
	padding-top: 7px;
	font-size: 30px;
}

.form-input:nth-child(2)::before
{
	content: "\f023";
}

input[type=submit]
{
	padding: 15px 30px;
	color:#fff;
	margin: 20px;
	cursor: pointer;
	border: none;
	background-color: #2ECC71;
	border-radius: 4px;
	border-bottom: 4px solid #159d82;
}


input[type=submit]:hover
{
	background: rgba(249,120,118,.5);
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

a
{
	color: #0073e6;
}

footer a
{
	padding: 10px;
	font-size: 20px;
	float:right;
	color: #2CD5D3;
	text-decoration: none;
}
